<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
  <!--  	
  <bean name="quartzScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="cronTriggerCommitSyncGroup"/>
                <ref bean="simpleTriggerCommitSyncGroup"/>
            </list>
        </property>
        <property name="configLocation" value="classpath:config/properties/quartz.properties"/>
    </bean>
	
   <bean name="quartzScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="configLocation" value="classpath:config/properties/quartz.properties"/>
   </bean>
   <bean id="cronTriggerCommitSyncGroup" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="jobDetailCommitSyncGroup"/>
        <property name="cronExpression" value="0 0 2 * * ?"/>
   </bean>	
   
   <bean id="simpleTriggerCommitSyncGroup" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
		<property name="jobDetail" ref="jobDetailCommitSyncGroup"/>
		<property name="startDelay" value="60000"/>
		<property name="repeatInterval" value="1200000"/>
   </bean>
   
   <bean id="jobDetailCommitSyncGroup" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="umsCommonService"/>
        <property name="targetMethod" value="commitSyncGroup"/>
   </bean>
   -->
   <!-- end -->
   
      
</beans>