body {
    font-size:12px;
}
a {
    color:#15428B;
}
a:link, a:visited {
    text-decoration: none;
    font-size: 12px;
}
a:hover {
    text-decoration: underline;
    font-size: 12px;
}
.header-box {
    background: #7F99BE url(../images/header-bg.gif) repeat-x center;
}
.header-box h1 {
    font-size: 16px;
    color: #fff;
    font-weight: normal;
    padding: 5px 10px;
}
.login-form{
	margin-top: 20px;
	margin-left: 150;
}
.icon-folder-new{
	background-image:url(../images/icons/icon-folder-new.gif) !important;
}

.form-button-new{
	background-image:url(../images/icontbar/application_form_add.png) !important;
		
}
.form-button-edit{
	background-image:url(../images/icontbar/application_form_edit.png) !important;
}
.form-button-delete{
	background-image:url(../images/icontbar/application_form_delete.png) !important;
}

.form-button-save{
	background-image:url(../images/icontbar/save.gif) !important;
}

.form-button-assign-obj{
	background-image:url(../images/icontbar/cog_add.png) !important;
}

.form-button-remove-obj{
	background-image:url(../images/icontbar/cog_delete.png) !important;
}

.form-button-show-obj{
	background-image:url(../images/icontbar/icon-grid.gif) !important;
}

.form-button-search-obj{
	background-image:url(../images/icontbar/page_find.png) !important;
}

img{
	border: 0;	
}

.menu_icon_center{
	text-align: center;
	padding-top: 5px;
}
.menu_icon {
	background: url(../images/trans_white.png) no-repeat -99999px -99999px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-background-clip: padding-box;
	color: #000;
	font-size: 12px;
	line-height: 1.3;
	padding: 6px 1px 6px;
	text-align: center;
	width: 80px;
	display: block;
	margin: 0 auto;
	font-weight: normal;
}
.menu_icon img {
	background: url(../images/trans_black.png) no-repeat -99999px -99999px;
	display: block;
	margin: 0 auto 5px;
	width: 32px;
	height: 32px;
}

.menu_icon:hover {
	background-position: 0 0;
	background-repeat: repeat;
	border: 1px solid #fff;
	padding: 5px 0 5px;
}

