<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd" default-autowire="byName">
	<bean id="loginAuthBean" class="org.echoice.ums.config.LoginAuthBean">
    	<property name="auth" value="${ecums.isAuth}"></property>
    	<property name="authObject" value="${ecums.authObject}"></property>
    	<property name="authAccessMode" value="${ecums.authAccessMode}"></property>
    	<property name="authSysMgrRole" value="${ecums.authSysMgrRole}"></property>
    	<property name="groupModeType" value="${ecums.groupModeType}"></property>
    	<property name="groupRoleParentAlias" value="${ecums.groupRoleParentAlias}"></property>
    	<property name="levelRoleShow" value="${ecums.levelRoleShow}"></property>
    	<property name="groupAliasCreate" value="${ecums.groupAliasCreate}"></property>
    	<property name="syncGroupPath" value="${ecums.syncGroupPath}"></property>
	</bean>
	<bean id="validPermissionForUmsService" class="org.echoice.ums.service.impl.ValidPermissionForUmsServiceImpl">
	</bean>	
	
	<bean id="umsCommonService" class="org.echoice.ums.service.impl.UmsCommonServiceImpl"></bean>
</beans>
